@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');

body {
	background: linear-gradient(45deg, #194350, #9dbeb9) fixed;
	background-repeat: no-repeat;
	color: #000;
	font-family: 'Orelega One', serif;
	padding: 2em;
	display: flex;
	justify-content: center;
}

.container {
	margin-top: 3em;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav-bar {
	display: flex;
}

.nav-bar li {
	margin: 1em 2em;
	list-style-type: none;
}
.nav-bar a {
	color: #000;
	font-weight: bold;
	font-size: 1.5em;
	text-decoration: none;
}

form {
	width: 500px;
	background: #f1f1f1;
	border-radius: 10px;
	padding: 0.5em;
	box-shadow: 3px 3px 10px rgba(51, 51, 51, 0.5);
}

fieldset {
	border: 2px solid #333;
	padding: 2rem 6rem;
}

label {
	display: block;
	width: 75%;
}

input {
	display: block;
	font-family: inherit;
	font-size: 1.4rem;
	outline: none;
	border: 0;
	border-bottom: 1px solid #333;
	background: inherit;
	margin-bottom: 2rem;
}

.submit-btn {
	display: block;
	border: 0;
	border-bottom: 2px solid #333;
	background: inherit;
	font-family: inherit;
	font-size: 2em;
	cursor: pointer;
}
